header {
    background-color: #FCF7FF;
    padding: 20px;
    margin: auto;
    height: 100%;
    color: #344055;
    font-size: 18px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .header {
      background-color: #FCF7FF;
      min-height: 100vh;
    }
  }
  
.link:hover {
  color: #8096ff;
  cursor: pointer;
}

.container {
  max-width: 1080px; 
	margin: 0 auto 20px auto !important; 
	float: none !important; 
}

.navi {
  margin: 100px 0 50px 0;
}