.title {
    font-size: 100px;
  }

.subtitle {
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.linkSection {
  margin-bottom: 10px;
}

.mainLink {
  color: #ffffff;
}
  
.mainLink:hover {
  color: #8096ff;
  cursor: pointer;
}